.form {
	position: absolute;
	top: 101px;
	left: 59px;
	width: 897px;
	font-family: "Inter";
}

.form-title {
	position: absolute;
	width: 897px;
	height: 52.64px;
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 165%;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	letter-spacing: 0.15em;
	color: #000000;
}

.form .line {
	position: absolute;
	bottom: -12.39px;
	width: 166.17px;
	height: 9.29px;
	background: #071594;
}

.content {
	padding-left: 203.13px;
	padding-top: 130.06px;
	height: 100%;
}

.form label {
	width: auto;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 165%;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="number"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 19px;
	outline: none;
	border: none;
	border-bottom: 2px solid #000;
}

.accept {
	position: relative;
	-webkit-appearance: none;
	appearance: none;
	width: 30px;
	height: 30px;
	margin-right: 16px;
	border: 1px solid black;
	outline: 2px solid black;
}

.accept:checked {
	background-color: #3cc0e1;
}

.accept:checked:after {
	content: "\2714";
	font-size: 18px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.privacy {
	display: flex;
	align-items: center;
	margin-top: 19px;
}

.privacy input,
.privacy label {
	cursor: pointer;
}

.center {
	text-align: center;
}

.center .submit {
	margin-top: 26px;
	width: 224.3px;
	height: 54.88px;
	font-family: "Lato";
	font-style: italic;
	font-weight: 400;
	font-size: 30px;
	line-height: 100%;
	text-align: center;
	background: #071594;
	box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.75);
	border-radius: 20px;
	cursor: pointer;
}

.center .submit span {
	color: #ffffff;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.error {
	font-style: italic;
	font-weight: 400;
	font-size: 20px;
	line-height: 165%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: red;
}

.error-input {
	position: relative;
	bottom: 16px;
}

.error-privacy {
	margin-left: 32px;
}

.form .content .error-border {
	border-bottom: 1px solid red;
}

.error-outline {
	border-color: red;
	outline-color: red;
}

#success {
	color: #28a745;
}

@media (max-width: 1280px) {
	.form {
		top: 5%;
		left: 5%;
		width: 80%;
	}

	.content {
		padding-left: 12%;
		padding-top: 14%;
	}

	.form-title {
		width: 100%;
		font-size: 16px;
	}

	.form .line {
		bottom: -6%;
		width: 20%;
		height: 10%;
	}

	.form label {
		font-size: 16px;
	}
	.center .submit {
		width: 37%;
		height: 30%;
		margin-top: 10%;
		font-size: 24px;
	}
	.center .submit span {
		display: inline-block;
		padding-top: 2%;
		padding-bottom: 3%;
	}
	.form input[type="text"],
	.form input[type="password"],
	.form input[type="email"],
	.form input[type="number"] {
		border-bottom: 1px solid black;
	}
	.accept {
		width: 25px;
		height: 25px;
		outline: 1px solid black;
	}
	.error {
		font-size: 14px;
	}
}

@media (max-width: 992px) {
	.form {
		top: 6%;
	}

	.content {
		padding-top: 20%;
	}

	.form .line {
		width: 25%;
	}

	.form label {
		font-size: 14px;
	}

	.center .submit {
		width: 34%;
		font-size: 22px;
	}
	.center .submit span {
		padding-top: 3%;
		padding-bottom: 4%;
	}

	.error {
		font-size: 12px;
	}
}

@media (max-width: 780px) {
	.form label {
		font-size: 12px;
	}

	.center .submit {
		margin-top: 19%;
		font-size: 20px;
	}
	.form .line {
		width: 30%;
	}
	.form-title {
		font-size: 14px;
	}
}

@media (max-width: 650px) {
	.form-title {
		font-size: 12px;
	}

	.form .line {
		width: 30%;
	}
	.error {
		font-size: 10px;
	}

	.center .submit {
		width: 34%;
		font-size: 18px;
	}
}

@media (max-width: 400px) {
	.wrapper {
		width: 100%;
		height: 100%;
	}
}
