.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1130px;
	height: 1200px;
	background: #fff;
}

.profile-box {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	height: 824.38px;
}

.profile {
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 10.26%;
	background-color: rgba(54, 44, 44, 0.1);
	-webkit-backdrop-filter: blur(280px);
	backdrop-filter: blur(280px);
	border-radius: 500px 60px 300px 100px;
	box-shadow: 12px 2px 9px gray;
}

.myName {
	position: absolute;
	top: 11px;
	left: 21px;
	width: 580px;
	height: 77px;
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	color: #000000;
}

.next-profile-btn {
	position: absolute;
	left: 35.21%;
	right: 36.75%;
	top: 93.34%;
	bottom: 0%;

	font-family: "Lato";
	font-style: italic;
	font-weight: 400;
	font-size: 30px;
	line-height: 100%;
	color: #ffffff;

	background: #35660e;
	box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.75);
	border-radius: 20px;

	cursor: pointer;
}

.contact-form-btn {
	position: absolute;
	right: 26px;
	top: 11px;
	width: 236px;
	height: 90px;
	display: block;

	font-family: "Lato";
	font-style: italic;
	font-weight: 400;
	font-size: 30px;
	line-height: 100%;
	color: #ffffff;

	background: #40483a;
	box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.75);
	border-radius: 20px;
	text-decoration: none;
	cursor: pointer;
}

.contact-form-btn span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.profile-img {
	position: absolute;
	left: 18%;
	right: 15.25%;
	top: 16.98%;
	bottom: 36.56%;
	border-radius: 200px 20px 100px 50px;
}

.profile-name {
	position: absolute;
	left: 28.33%;
	right: 29.94%;
	top: 66.64%;
	bottom: 24.11%;

	font-family: "Inter";
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 61px;
	text-align: center;

	color: #000000;
}

.profile-description-box {
	position: absolute;
	left: 28.33%;
	right: 25.62%;
	top: 74.07%;
	bottom: 18.71%;

	font-family: "Inter";
	font-style: italic;
	font-weight: 400;
	font-size: 20px;
	line-height: 100%;
	color: #000000;
}

.account-star-icon {
	position: absolute;
	left: 69.77%;
	right: 23.06%;
	top: 66.64%;
	bottom: 26.91%;
}

@media (max-width: 1280px) {
	.wrapper {
		width: 60%;
		height: 100%;
	}
	.profile-box {
		top: 52%;
		width: 70%;
		height: 75%;
	}

	.profile-img {
		width: 67%;
	}
	.profile-description-box {
		top: 80%;
	}
	.profile-name {
		top: 65%;
		font-size: 36px;
	}
	.next-profile-btn {
		top: 96%;
		bottom: -4%;
		left: 36%;
		right: 36%;
		font-size: 22px;
	}
	.account-star-icon {
		left: 65%;
	}
	svg[data-testid="CheckCircleIcon"] {
		left: 75% !important;
	}
	.myName {
		font-size: 20px;
	}
	.contact-form-btn {
		top: 1%;
		right: 3%;
		width: 22%;
		height: 10%;
		font-size: 22px;
	}
}

@media (max-width: 992px) {
	.profile-name {
		left: 25%;
		font-size: 32px;
	}

	.profile-description-box {
		font-size: 16px;
	}

	.account-star-icon {
		left: 62%;
	}

	.next-profile-btn {
		left: 34%;
		right: 34%;
		font-size: 20px;
	}

	.contact-form-btn {
		right: 4%;
		width: 24%;
		height: 9%;
		font-size: 20px;
	}

	.myName {
		font-size: 18px;
	}
}

@media (max-width: 780px) {
	.profile-name {
		top: 62%;
		font-size: 24px;
	}
	.profile-description-box {
		top: 87%;
		font-size: 14px;
	}

	.account-star-icon {
		top: 74%;
		left: 31%;
	}

	svg[data-testid="CheckCircleIcon"] {
		top: 74% !important;
		left: 49% !important;
	}
	.next-profile-btn {
		left: 30%;
		right: 30%;
		font-size: 18px;
	}
	.contact-form-btn {
		right: 5%;
		width: 28%;
		height: 8%;
		font-size: 18px;
	}
	.myName {
		font-size: 16px;
	}
}

@media (max-width: 690px) {
	.wrapper {
		width: 100%;
		height: 100%;
	}
	.contact-form-btn {
		right: 4%;
		width: 24%;
		height: 9%;
		font-size: 20px;
	}
	.next-profile-btn {
		left: 34%;
		right: 34%;
		font-size: 20px;
	}
}

@media (max-width: 590px) {
	.next-profile-btn {
		left: 32%;
		right: 32%;
		font-size: 18px;
	}
	.contact-form-btn {
		right: 5%;
		width: 26%;
		height: 8%;
		font-size: 18px;
	}
}

@media (max-width: 415px) {
	.wrapper {
		overflow: hidden;
	}
	.profile-name {
		top: 63%;
		font-size: 29px;
	}
	.profile-description-box {
		left: 19%;
		font-size: 16px;
	}
	.next-profile-btn {
		left: 26%;
		right: 26%;
		font-size: 21px;
	}
	.contact-form-btn {
		width: 30%;
		font-size: 19px;
	}
}
