* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.App {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1920px;
	height: 1200px;
	background: #d9d9d9;
}

p {
	line-height: 1;
	margin-bottom: 2px;
}

@media (max-width: 1280px) {
	.App {
		width: 100%;
		height: 100%;
	}
}
